.navbar.navbar-inverse(ng-controller="NavbarCtrl as vm")
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-inverse-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Further
    .navbar-collapse.collapse.navbar-inverse-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='index.html' data-target='#' data-toggle='dropdown')
            | Login
            b.caret
          ul.dropdown-menu
            li(ng-show="!$rootScope.isSigned")
              a(ng-click="vm.signin()").navbar_link Google
            li(ng-show="$rootScope.isSigned")
              a(ng-click="vm.signout()").navbar_link Sign out
