.navbar.navbar-inverse(ng-controller="NavbarCtrl as vm")
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-inverse-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='/') Further
    .navbar-collapse.collapse.navbar-inverse-collapse
      ul.nav.navbar-nav
        li(ui-sref-active="active" ng-if="$rootScope.firebaseUser")
          a(ui-sref='program' href="") Program
        li(ui-sref-active="active")
          a(ui-sref='exercises' href="" ng-if="$rootScope.firebaseUser") Exercises
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-target='#' data-toggle='dropdown')
            | Login
            b.caret
          ul.dropdown-menu
            //- li(ng-show="!$rootScope.isSigned")
            //-   a(ng-click="vm.signin()").navbar_link Google
            //- li(ng-show="$rootScope.isSigned")
            //-   a(ng-click="vm.signout()").navbar_link Sign out
            li()
              a(ng-click="vm.auth.$signInWithPopup('google')").navbar_link Google
            li()
              a(ng-click="vm.auth.$signOut()").navbar_link Sign out
