@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 100%;
}

a{
    -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
        -ms-transition: 0.2s;
         -o-transition: 0.2s;
            transition: 0.2s;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 80px;
}

footer {
    background: #3F51B5;
    color: #fff;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.day_wr {
    font-weight: 700;
    padding-bottom: 7px;
}

.exercises_row {
    padding-top: 9px;
    padding-bottom: 9px;
}

.days_item {
    & + li {
        margin-top: 10px;
    }
    & .row + .row {
        border-top: 1px solid #ccc;
    }
}

.container {
    width: 960px;
}

.navbar-brand {
    font-weight: 700;
}

.simple_input {
    height: 37px;
    width: 110px;
    max-width: 100%;
    padding-left: 7px;
}

.btn_cancel {
    background: none;
    border: none;
    outline: none;
    color: #ccc;
    font-size: 25px;
    &:hover {
        color: #aaa;
    }
}

.simple_btn {
    width: 37px;
    height: 37px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.tablehead_wr {
    padding-top: 9px;
}

.exercise_value {
    padding-top: 6px;
}

.form-group {
    margin: 0;
}

.addexs_group {
    & > .row {
        & + .row {
            margin-top: 15px;
        }
    }
}

#addExModal {
    .modal-footer {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 30px;
    }
}

.nav-tabs {
    background: #3F51B5;
    &>li>a{
        border-radius: 0;
        &:hover{
            background: rgba(255,255,255,0.1) !important;
        }
    }
}

.navbar_link{
    cursor: pointer;
}

.dropdown-toggle{
    cursor: pointer;
}