
<div ng-controller="NavbarCtrl as vm" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-inverse-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a ui-sref="/" class="navbar-brand">Further</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-if="$root.firebaseUser"><a ui-sref="trainings" href="">trainings</a></li>
        <li ui-sref-active="active" ng-if="$root.firebaseUser"><a ui-sref="exercises" href="">exercises</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a data-target="#" data-toggle="dropdown" ng-class="{signed : $root.firebaseUser}" class="dropdown-toggle"><span ng-show="!$root.firebaseUser">login <b class="caret"></b></span><span ng-show="$root.firebaseUser" class="userimg"><img ng-src="{{$root.firebaseUser.photoURL}}"/></span></a>
          <ul class="dropdown-menu">
            <li ng-if="!$root.firebaseUser"><a ng-click="vm.signIn()" class="navbar_link">Google</a></li>
            <li ng-if="$root.firebaseUser"><a ng-click="vm.signOut()" class="navbar_link">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>